<!--
Question Type: Multiple choice, image
-->

<div class="row">
  <div class="col-lg-2">Question</div>
  <div class="col-lg-10">
    <input type="text" class="form-group" />
  </div>
</div>

<div class="row">
  <div class="col-lg-2">Image</div>
  <div class="col-lg-10">
    <input type="text" class="form-group" />
  </div>
</div>

<div class="row">
  <div class="col-lg-2">Answer</div>
  <div class="col-lg-2">Answer</div>
  <div class="col-lg-10">
    <input type="text" class="form-group" />
  </div>
</div>
